{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/styles.css' %}">
    <title>{% block title %}Home{% endblock %} :: Notifications</title>
</head>
<body>
    <header>
        <h1>Notifications</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'add' %}">Create</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>